body {
  margin: 0;
  font-family: "aktiv-grotesk", sans-serif;
  background: #444;
}

/* POPUP */
.popup {
  position: fixed;
  inset: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup--hidden {
  display: none;
}

/* APP */
.app {
  position: relative;
  width: 100%;
  max-width: 390px;
  height: 100vh;
  margin: auto;
  background-color: #233a66;
  overflow: hidden;
}
.app--blurred {
  filter: blur(6px) brightness(0.85);
}

/* BACKGROUND */
.app__pattern {
  position: absolute;
  inset: 0;
  background: url("Assets/Patternplayer.svg") repeat;
  background-size: 250px;
  z-index: 0;
  will-change: background-position;
}

/* BRANDING */
.app__branding {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 10;
}
.app__branding img {
  display: block;
}
.app__branding-live {
  position: relative;
  transform: scale(0.3);
  transform-origin: left top;
  top: -18.25px;
  left: 55px;
}

/* SON */
.app__sound {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 12px;
  z-index: 10;
}
.app__sound-icon {
  width: 24px;
  cursor: pointer;
}
.app__sound-icon--off {
  display: none;
}

/* ZONE DE JEU */
.players {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARTES (écrans) */
.players__card {
  position: relative;
  width: 230px;
  height: 385px;
  background: #f8ecd1;
  border-radius: 40px;
  padding: 45px 25px 30px;
  text-align: center;
  color: #233a66;
  top: 60px;
  overflow: visible;
}

.players__title {
  color: #233a66;
  font-family: Merriweather, serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  margin-top: 30px;
}
.players__subtitle {
  margin: 5px 0 15px;
  font-size: 15px;
  font-weight: 600;
  color: #233a66;
}

/* CHOIX JOUEURS */
.players__choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 35px;
  margin: 5px auto;
  width: fit-content;
}
.players__choice:nth-child(3) {
  grid-column: 1 / -1;
}

/* Boutons de choix */
.players__choice {
  width: 70px;
  height: 70px;
  justify-self: center;
  background: #233a66;
  color: #fff;
  border: none;
  border-radius: 16px;
  font-size: 36px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.15s ease, background 0.25s ease;
}
.players__choice:hover {
  transform: scale(1.08);
  background: #ed6e83;
}
.players__choice--active {
  background: #ed6e83;
  animation: choice-pulse 1s ease;
}

@keyframes choice-pulse {
  0% {
    transform: scale(1);
    background-color: #233a66;
  }
  25% {
    transform: scale(1.05);
    background-color: #ed6e83;
  }

  50% {
    transform: scale(1);
    background-color: #ed6e83;
  }
}
/* BOUTON GÉNÉRAL */
.players__submit {
  width: 80%;
  margin: 5px 0;
  padding: 14px;
  background: #233a66;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease, background 0.25s ease;
}
.players__submit:hover {
  background: #ed6e83;
  transform: scale(1.05);
}
.players__submit--disabled {
  pointer-events: none;
  opacity: 0.7;
}

.players__submit--players {
  margin-top: 30px;
}

/* ÉCRAN NOM D’ÉQUIPE */
.players__card--teams {
  position: absolute;
  top: 200px;
  transform: translateY(40px);
}
.players__teams {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 35px 0;
}

.players__input {
  padding: 15px 20px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  font-family: "aktiv-grotesk", sans-serif;
  background: white;
  color: #233a66;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  box-sizing: border-box;
}
.players__input::placeholder {
  color: #233a66;
  opacity: 0.5;
}
.players__submit--inscription {
  margin-top: 20px;
}

/* POPUP CRÉDITS */
.popup__content--credit {
  position: relative;
  width: min(280px, 80%);
  padding: 30px 25px;
  background: #f8ecd1;
  color: #233a66;
  text-align: center;
  border-radius: 15px;
}
.popup__content--credit h2 {
  margin: 0 0 10px;
  font-size: 20px;
}
.popup__content--credit p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}
.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  cursor: pointer;
}

/* M1 */
/* Boutons de manche */
.players__card--m1 #m1-teams-name {
  font-weight: 700;
  font-size: 16px;
  color: #233a66;
  margin-bottom: 5px;
}
.m1__title {
  color: #233a66;
  font-family: Merriweather, serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin-top: 30px;
}
.FK__subtitle {
  color: #233a66;
  font-family: Merriweather, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  margin-top: -10px;
}

.code-input {
  margin-top: 20px;
  max-width: 100%;
  box-sizing: border-box;
}
.validate-code {
  margin-top: 40px;
  width: 90%;
  height: 60px;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background: #233a66;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.15s ease, background 0.25s ease;
}
.reencode {
  width: 150px;
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border: none;
  border-radius: 30px;
  background: #233a66;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.15s ease, background 0.25s ease;
  margin-top: -80px;
  position: absolute;
}
.validate-codeM5,
.skip-final {
  width: 70%;
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border: none;
  border-radius: 30px;
  background: #233a66;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.15s ease, background 0.25s ease;
  margin-top: 10px;
}

.validate-code:hover,
.skip-final:hover {
  transform: scale(1.08);
  background: #ed6e83;
}

.reencode:hover {
  transform: scale(1.08);
  background: #ed6e83;
}
/* ARTICLE */
.article-phase {
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 15px;
}
.article-text {
  margin-top: 5px;
  font-size: 14px;
  color: #233a66;
  text-align: center;
  line-height: 1.5;
  background: rgba(255, 255, 255);
  border-radius: 15px;
  padding: 15px 18px;
  width: 80%;
  box-shadow: inset 0 5px 6px rgba(0, 0, 0, 0.05),
    0 6px 12px rgba(0, 0, 0, 0.15);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.article-textM5 {
  margin-top: -40px;
}
.article-phase[hidden],
.article-phase[style*="display: none"] {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.choice-fake,
.choice-real {
  margin-top: -40px;
}

/* BOUTONS DE MANCHE */
.manche-choices {
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.buttons-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 5px;
}

.buttons-group button {
  flex: 1;
  width: 200px;
  max-width: 80%;
}
.buttons-groups {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.buttons-groups button {
  width: 200px;
  max-width: 80%;
}
.manche-choices .players__choice {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  font-size: 20px;
  background: #233a66;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.15s ease, background 0.25s ease;
}
.manche-choices .players__choice:hover {
  transform: scale(1.08);
  background: #ed6e83;
}

/* SCORE */
.next-manche {
  margin-top: 20px;
  width: 160px;
  height: 60px;
  font-size: 18px !important;
}
.players__card--score {
  position: relative;
  width: 230px;
  height: 350px;
  background: #f8ecd1;
  border-radius: 40px;
  padding: 45px 25px 30px;
  text-align: center;
  color: #233a66;
  top: 50px;
  overflow: visible;
}

.players__card--score .players__title {
  font-size: 22px;
  font-weight: 800;
  color: #233a66;
  margin-bottom: 25px;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.score-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.score-team {
  font-weight: 600;
  color: #233a66;
  font-size: 16px;
}

.score-value {
  font-size: 22px;
  font-weight: 800;
  color: #ed6e83;
}

.players__card--score .players__submit {
  background: #233a66;
  color: #fff;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease;
}
.players__card--score .players__submit:hover {
  background: #ed6e83;
  transform: scale(1.05);
}

/* M2 */
.players__card--m2 {
  height: 400px;
}

.code1,
.code2 {
  margin-top: 10px;
  max-width: 100%;
  box-sizing: border-box;
}
.article-slider {
  position: relative;
  width: 90%;
  height: 160px;
  overflow: hidden;
  margin-bottom: 15px;
}
.article-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.article-slide.active {
  opacity: 1;
}

.article-text {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 18px;
  padding: 20px 18px;
  color: #233a66;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-indicators {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: -40px;
}
.article-indicators .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  transition: background 0.3s;
}
.article-indicators .dot.active {
  background: #233a66;
}

.article-phase .validate-fake {
  margin-top: 0;
  margin-bottom: 0;
  z-index: 2;
}
/* M3 */
#m3-teams-name,
#m2-teams-name {
  font-weight: 700;
  font-size: 16px;
  color: #233a66;
  margin-bottom: 15px;
}

/* M4 */
.players__card--m4 {
  height: 410px;
  margin-top: 15px;
}
.media-image {
  width: 230px;
  height: 190px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: -10px;
  padding: 5px;
  display: block;
}
.choice-IA {
  margin-top: -10px;
}

.centered-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 470px;
  overflow: visible;
  z-index: 5;
}

/* M5 */
/* ÉCRAN QUI A GAGNÉ */
.players__card--m5win h2 {
  color: #233a66;
  font-family: Merriweather, serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 25px;
}

.players__card--m5win .players__choices {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 25px;
  position: relative;
  z-index: 25;
}

.players__card--m5win .players__choice {
  width: 75px;
  height: 75px;
  border-radius: 20px;
  font-size: 18px;
  background: #233a66;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.15s ease, background 0.25s ease;
}
.players__card--m5win .players__choice:hover {
  transform: scale(1.08);
  background: #ed6e83;
}

.players__card--m5win .players__submit {
  width: 70%;
  margin: 0 auto;
  padding: 14px;
  background: #233a66;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease, background 0.25s ease;
  z-index: 25;
  position: relative;
}
.players__card--m5win .players__submit:hover {
  background: #ed6e83;
  transform: scale(1.05);
}

.m5win__choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.m5win__choices .players__choice {
  width: 220px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 30px;
  background: #233a66;
  color: white;
  transition: transform 0.2s ease, background 0.3s ease;
}

.m5win__choices .players__choice:hover {
  transform: scale(1.05);
  background: #ed6e83;
}

/* Animation apparition */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -55%);
  }
}

/*FINAL SCREEN */
.players__card--final {
  background-color: #fff4dc;
  border-radius: 50px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  padding: 40px 30px;
  text-align: center;
  color: #233a66;
  position: relative;
  overflow: visible;
}

.choice-freplay,
.choice-fmenu {
  font-size: 16px;
  width: 110px;
  height: 50px;
}

.final-scoreboard {
  margin: 20px auto 40px;
  width: 80%;
  border-top: 2px solid #233a66;
  border-bottom: 2px solid #233a66;
  padding: 15px 0;
}

.final-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.final-buttons {
  margin-top: 5px;
  width: 100px;
  height: 40px;
  border-radius: 30px;
}

/* DOTT */
.decor {
  position: absolute;
  z-index: 50;
  pointer-events: none;
}

.decor--top-left {
  top: -50px;
  left: 30px;
  width: auto;
  height: auto;
}

.decor--bottom-right {
  bottom: -35px;
  right: 30px;
  width: auto;
  height: auto;
}

/* Supprime flèches code */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
